{
  "overrides": [
    {
      "files": [
        "src/**/*.json",
        "src/**/*.css",
        "src/**/*.scss",
        "src/**/*.md",
        "src/**/*.js",
        "src/**/*.tsx"
      ],
      "options": {
        "singleQuote": false,
        "printWidth": 100,
        "jsxSingleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}
